@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
nav {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
  }
  .vertical-line{
      height:100px;
      border-left: 1px solid gray;
  }
  .delievery>h5{
      font-weight: 900;
      margin-top:13px;
      font-size: 15px;
      padding-inline: 9px;
  }
  .delievery>p{
      font-size: 13px;
  }
  .search-bar{
      background-color: #f8f8f8;
      border-radius: 10px;
      border: 1px solid #f8f8f8 ;
      padding-inline:10px;
  }
  .search-bar>input{
  width:36vw;
      height: 35px;
      border:none;
      background-color: transparent;
  }
  .cart-button{
      border-radius: 10px;
      background-color: #0c831f;
      border:transparent;
      color:white;
      font-weight: 500;
  }
.paan{
    width:99vw;
  margin-inline: 21px;
}
.img-row{
    display: flex;
    gap:21px;
    align-items: center;
    margin-top: 15px;
    margin-inline: 21px;
    white-space: nowrap;
    overflow-x:scroll ;
}
.only-img{
    width: 335px;
    height: 195px;
}
.sec-3-row>img{
    width: 111px;
    height: 159px;
}
.sec-3-row{
    display: flex;
    gap: 26.5px;
    margin-top: 31px;
    margin-inline: 31px;
}
.cards-row{
    display: flex;
    margin-left: 31px;
    gap: 21px;
    white-space: nowrap;
    overflow-x:scroll ;
}
.card-1{
    width: 179px;
    height: 299px;
    border: 1px solid gray ;
    padding-block: 2px;
    padding-inline: 9px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;
    border-radius: 15px ;
    white-space: wrap;
}
.rupee{
    display: flex;
    align-items: center;
    gap: 31px;
}
.rupee>p{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}
.card-1>p{
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}
.card-1>h5{
    color: rgb(31, 31, 31);
    font-weight: 600px;
    font-size: 13px;
}
.text-muted{
color: rgb(31, 31, 31);
font-weight: 600;
font-size: 12px;
}

{}
.add{
    cursor: pointer;
    width: 66px;
    border: 1px solid rgb(49, 134, 22);
    height: 31px;
    color: rgb(49, 134, 22);
    font-weight: 600;
    font-size: 13px;
    font-family: Okra;
    background-color: rgb(247, 255, 249);
    border-radius: 7px;
}
.foot-1{
    flex: 2;
}
.foot-2{
    flex: 3;
}
.clock{
        background-color: #f2f2f2;
        font-weight: 700;
        font-size: 9px;
        color: rgb(54, 54, 54);
        width: fit-content;
        padding: 3px;
        border-radius: 5px;
      }
      footer {
        width: 85vw;
        margin: auto;
      }
      
      #my-footer-row-3 {
        font-size: 15px;
        text-align: justify;
        color: #666666;
      }
      
      .my-footer {
        font-size: 17px;
        text-align: center;
        color: black;
      }
      
      #my-footer-row-2 {
        font-size: 13px;
        text-align: justify;
        color: #666666;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      #footer__row__2__col1 {
        flex: 1;
        padding-inline: 10px;
      }
      #footer__row__2__col2 {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      #footer__row__2__col1 > h6 {
        color: #666666;
      }
      .some-box {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        text-align: center;
        background-color: #213a50;
      }
      
      #footer__row__2__col3 {
        flex: 1;
        display: flex;
        justify-content: space-between;
      }
      
      .social-icon {
        width: 50px;
        height: 50px;
        background-color: black;
        color: white;
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 50%;
      }
      .social-icon:hover {
        color: black;
        background-color: #f8cb45;
        box-shadow: 3px 3px 15px black;
      }
      
      #my-footer-row-1 {
        display: flex;
        margin-top: 30px;
      }
      
      #footer__table__1 {
        flex: 2;
        width: 100%;
      }
      #footer__table__2 {
        flex: 3;
      }
      
      table {
        width: 100%;
      }
      td {
        color: #666666;
        line-height: 30px;
      }
      td:hover {
        line-height: 30px;
        text-decoration: underline;
        cursor:pointer;
        color:blue;
      }
      
      @media screen and (max-width: 480px) {
        #hero-section {
          display: none ;
        }
        nav,
        #my-footer-row-1 {
          flex-direction: column ;
          align-items: center ;
          margin: auto;
        }
        #my-footer-row-2,
        #footer__table__1,
        #footer__table__2,
        #footer__row__2__col2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
        }
        td {
          padding-inline: 12px;
          text-align: center;
          font-size: 12px;
        }
        .some-box {
          margin-top: 10px;
        }
        #footer__row__2__col3 {
          justify-content: space-between;
          width: 90vw;
          margin: auto;
          margin-top: 10px;
        }
        .vertical-line {
          display: none;
        }
        #my-nav-search {
          width: 90vw;
        }
        nav {
          padding-top: 20px;
          padding-bottom: 20px;
          position: static;
        }
    }
